/AccountManagerTests.class
/AccountTests.class
/HotelDBTests.class
/testSimple.class
/RoomTest.class
/RoomDBTests.class
/HotelManagerTests.class
/RoomManagerTests.class
/SessionTests.class
/EditPostTests.class
/EditProfileTests.class
/FilterTests.class
