@charset "ISO-8859-1";

html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, div {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img {
	vertical-align: middle;
}

i {
	font-style: italic;
}

a {
	text-decoration: none;
	background-color: transparent;
}

.header-section {
	width: 100%;
}

.header {
	margin-top: 25px;
	height: 50px;
	background: black;
}


.home {
	position: absolute;
	top: 20px;
	left: 30px;
}

.home a {
	height: 55px;
	overflow: hidden;
}

#icon {
	max-width:100px;
	max-height:100px;
}

.user-panel {
	position:absolute;
	right: 30px;
	top: 33px;
	margin-left: 50px;
}

.user-panel a {
	margin-right: 15px;
    background: transparent;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-family: "pp-sans-small-regular",Helvetica Neue,Arial,sans-serif;
    font-weight: normal;
    font-variant: normal;
    line-height: 12px;
    min-width: 84px;
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: none;
    touch-action: none;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
}

.user-panel a {
	color: black;
	font-size: 15px;
}

#welcome {
	width: 100%;
}

.main h1 {
	font-size: 80px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flaticon-profile:before {
    content: "\f13b";
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}