@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #0f324d !important;
	background-size: cover;
}

.post-hotel {
	width: 280px;
	position: absolute;
	top: 30%;
	left: 10%;
	color: white;
}

h1 {
	float: top;
	font-size: 35px;
	border-bottom: 5px solid white;
	margin-bottom: 50px;
	padding: 10px 0;
}

file {
	background: none;
}

.file-box input {
	background: none;
	border: none;
	outline: none;
	background: none;
	width: 80%;
	font-style: italic;
}

.text-box {
	width: 100%;
	font-size: 18;
	font: sans-serif;
	padding-size: 8px 0;
	margin: 8px 0;
	border-bottom: 2px solid white;
}

.text-box input {
	border: none;
	outline: none;
	background: none;
	width: 80%;
	color: white;
	font-style: italic;
}

.post-facility {
	width: 280px;
	position: absolute;
	top: 30%;
	left: 55%;
	color: white;
}

.check-box-container input {
	background: none;
}

#next {
	display: none;
}

.check-box-container {
	display: inline-block;
	padding-left: 30px;
	font-family: sans-serif;
	position: relative;
	cursor: pointer;
}

.check-box-container .checkmark {
	width: 25px;
	height: 25px;
	background: #eee;
	position: absolute;
	left: 0;
	top: 0;
}

span {
	font-style: italic;
}

::placeholder {
	color: white;
}

.myButton {
	background-color:#d10c34;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d4083f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#e60914;
}
.myButton:active {
	position:relative;
	top:1px;
}

/****** IGNORE ******/


/****** CODE ******/
.image-upload {
	display: block;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.image-upload .file-select {
	display: block;
	border: 2px solid #dce4ec;
	color: #d10c34;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}

.image-upload .file-select .file-select-button {
	background: #dce4ec;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.image-upload .file-select .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}

.image-upload .file-select:hover {
	border-color: 1d0088;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.image-upload .file-select:hover .file-select-button {
	background: #d10c34;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.image-upload.active .file-select {
	border-color: #e60914;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.image-upload.active .file-select .file-select-button {
	background: #e60914;
	color: #FFFFFF;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.image-upload .file-select input[type=file] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.image-upload .file-select.file-select-disabled {
	opacity: 0.65;
}

.image-upload .file-select.file-select-disabled:hover {
	cursor: default;
	display: block;
	border: 2px solid #dce4ec;
	color: #d10c34;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: left;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}

.image-upload .file-select.file-select-disabled:hover .file-select-button
	{
	background: #dce4ec;
	color: #666666;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.image-upload .file-select.file-select-disabled:hover .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
}