@charset "ISO-8859-1";

html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, div {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img {
	vertical-align: middle;
}

i {
	font-style: italic;
}

a {
	text-decoration: none;
	background-color: transparent;
}

.header-section {
	width: 100%;
	
}

.header {
	display: block;
	position: relative;
	width:100%;
	height: 50px;
	background: #7b0e0e;
	text-align: center;
}

.header a {
	position: absolute;
	font-size: 175%;
	top: 13%;
	left: 1%;
	color: white;
}

.header a:hover {
	color: white;
	text-decoration: none;
}

.user-panel {
	position:absolute;
	right: 20px;
	height: inherit;
	align-content: center;
}

.user-panel i {
	position: relative;
    top: 13%;
}

.user-panel a {
	margin-right: 15px;
    background: transparent;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-family: "pp-sans-small-regular",Helvetica Neue,Arial,sans-serif;
    font-weight: normal;
    font-variant: normal;
    line-height: 12px;
    min-width: 84px;
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: none;
    touch-action: none;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
    color: black;
    top: 13%;
}

.navbar {
	display: block;
    height: 50px !important;
    background-color: #7b0e0e !important;
}

.nav-link {
	font-size: 15px;
	color: white !important;
}

.main h1 {
	font-size: 80px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flaticon-profile:before {
    content: "\f13b";
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}