@charset "ISO-8859-1";

html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, div {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img {
	vertical-align: middle;
}

i {
	font-style: italic;
}

a {
	text-decoration: none;
	background-color: transparent;
}

.header-section {
	width: 100%;
	
}

.header {
	display: block;
	position: relative;
	width:100%;
	height: 50px;
	background: #7b0e0e;
}

.site-logo {
	display: block;
	position: absolute;
	left: 1%;
	height: inherit;
}

.site-logo a {
	display: table-cell;
	position: sticky;
	font-size: 175%;
	top: 10%;
	color: white;
}

#logo {
	height: 3.5%;
    position: relative;
    top: -2px;
}

.header a:hover {
	text-decoration: none;
}

.user-panel {
	position:absolute;
	right: 20px;
	height: inherit;
	align-content: center;
}

.user-panel i {
	position: relative;
    top: 15%;
}

.user-panel .log {
	margin-right: 15px;
    background: transparent;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-family: "pp-sans-small-regular",Helvetica Neue,Arial,sans-serif;
    font-weight: normal;
    font-variant: normal;
    line-height: 12px;
    min-width: 84px;
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -ms-touch-action: none;
    touch-action: none;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
    color: black;
    top: 13%;
}

.navbar {
	display: block;
    height: 50px !important;
    background-color: #7b0e0e !important;
}

.nav-link {
	font-size: 15px;
	color: white !important;
}

.logged {
	display: block;
    position: absolute;
    top: 20%;
    right: 5%;
}


.menu-but {
  	width: max-content;
	font-size: 120% !important;
	display: block;
	vertical-align: middle;
	top: 23% !important;
	right: 5%;
	color: white;
}

.menu-but i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  border-color: white;
  vertical-align: middle;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.menu {
  display: none;
  position: absolute;
  width: 20%;
  right: 0%;
  top: 25px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu a {
  display: inline-block;
  color: black;
  padding: 4.75% 4.75%;
  text-decoration: none;
  position: relative;
  width: 100%;
  font-size: 100%;
}

.menu-but:hover {
	color: white;
}

.logged:hover .menu {
	display: block;
	color: white;
}

.logged:hover .menu a:hover {
	background-color: #7b0e0e;
	color: white;
}


.main h1 {
	font-size: 80px;
	position: absolute;
	width: max-content;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}


.flaticon-profile:before {
    content: "\f13b";
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: absolute;
        top: 50%;
        width: 100%;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}

.btn {
	background-color: #7b0e0e;
	border-color: #7b0e0e;
}